@{
    ViewBag.Title = "Informacje";
}
<h2>@ViewBag.Title.</h2>

<p>Kliknij "PPV" na górze, aby uzyskać dostęp do gali DywizjonMMA. Dostępne są 3 rodzaje biletów:</p>
<h3>Basic</h3> <p> - czyli dostęp podstawowy, transmisja 720p i dostęp do powtórek z gali przez 24h po evencie.</p>
<h3>Vip</h3> <p> - czyli dostęp rozszerzony, transmisja 1080p i dostęp do powtórek z gali przez 72h po evencie.</p>
<h3>Ultra</h3> <p> - czyli dostęp całkowity, transmisja 4K i dostęp do powtórek z gali do końca życia!</p>