@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Lubelska 21/37<br />
    Lublin, 20-113<br />
    <abbr title="Phone">Telefon:</abbr>
    123 456 789
</address>

<address>
    <strong>Reklamacje:</strong>   <a href="mailto:reklamacje@dywizjonmma.com">reklamacje@dywizjonmma.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@dywizjonmma.com">marketing@dywizjonmma.com</a>
</address>