@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div>
        <img src="~/Content/oktagon.png" class="center-block" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Świetne widowsko</h2>
            <p>
                DywizjonMMA to przede wszystkim świetne widowisko. Polecam.
            </p>     
        </div>
        <div class="col-md-4">
            <h2>Świetna zabawa</h2>
            <p>Kup swój dostęp do PPV i baw się na całego!</p>         
        </div>
        <div class="col-md-4">
            <h2>Niezapomniane wrażenia</h2>
            <p>Nie zapomnij wrażeń.</p>
        </div>
    </div>
</div>